/* Reset some default styles for consistency */
body,
footer,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Apply some basic styling to the body */
body {
  font-family: Arial, sans-serif;
  background-color: #ccccd2;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #6890ac;
  color: #312c71;
}

/* Style the footer p tag */
footer p {
  margin-bottom: 10px;
}

/* Style the footer ul tag */
footer ul {
  list-style-type: none;
  margin-bottom: 10px;
}

/* Style the footer li tag */
footer li {
  display: inline;
  margin-right: 10px;
}

/* Add some margin to the bottom of the body to avoid overlapping with the footer */
body {
  margin-bottom: 60px;
}
