
body, h1, p, table, th, td, fieldset, legend, a {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #a2e2ff;
  }
  
  
  table {
    width: 80%;
    margin: 20px auto;
    background-color: #62b3d8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h1 {
    text-align: center;
    color: black;
  }
  
  
  fieldset {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
 
  legend {
    font-weight: bold;
  }
  
 
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  
  thead {
    background-color: gray;
    color: whitesmoke;
  }
  
  
  tbody tr:nth-child(even) {
    background-color: #a2e2ff;
    
  }
  
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  body {
    margin-top: 60px;
  }
  